body {
    display: flex;
    background: whitesmoke;
    font-family: 'Tauri', serif;

}
.container {
    border-color: #a20b0b;

}

.member-form {
    background-color: rgba(162, 11, 11, 0.4);
    border-radius: 20px;
    border-color: #a20b0b;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 150px;
    margin-left: -1200px;
    width: 400px;
}
.members-list {
    background-color: rgba(162, 11, 11, 0.4);
    border-radius: 20px;
    padding: 30px;
    border-color: #a20b0b;
    margin-bottom: 20px;
    margin-top: -260px;
    margin-left: -500px;
    width: 300px;
}

.member-form h2, .members-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #6b0c0c;
    text-align: center;
    font-family: 'Tauri', serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: white;
    font-size: 16px;
    transition: border-bottom-color 0.3s ease;
    margin-right: 20px;
    border-radius: 10px;
}

.form-group input[type="text"]:focus {
    border-bottom-color: #AF1010;
    outline: none;
}

button {
    padding: 12px 40px;
    background-color: #AF1010;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Tauri', serif;
}

button:hover {
    background-color: #A70B0B;
}

.members-list ul {
    list-style-type: none;
    padding: 0;
}

.members-list li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#finishBtn {
    background-color: #9F1C00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 300px;
    margin-left: -1450px;
    margin-bottom: 20px;
    font-family: 'Tauri', serif;
    transition: background-color 0.3s ease;
}

#finishBtn:hover {
    background-color: #A70B0B;
}
