{% extends "base.html.twig" %}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <h1>Bienvenue a Esprit EduSmart</h1>
    <div class="buttons">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('login') }}" class="btn btn-danger">Connexion</a>
        <a href="{{ path('signUp') }}" class="btn btn-outline-danger">Créer Compte</a>
        {% else %}
        <form action="{{ path('logout') }}" method="post">
        <button type="submit" class="btn btn-danger">Déconnecter</button>
        </form>
        {% endif %}
    </div>
</div>

{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div id="cookiePopup" class="hide" style="z-index: 2;">
      <img src="/images/cookie.png" />
      <p>
        Notre site Web utilise des cookies pour fournir votre expérience de navigation et des informations pertinentes.
        Avant de continuer à utiliser notre site Web, vous acceptez notre <a href="#" class="fw-bold">politique en matière de cookies & de confidentialité.</a>
      </p>
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <button id="acceptCookie" class="myButton">Accepter</button>
        <button id="declineCookie" class="myButton">Non, Merci</button>
      </div>
</div>
{% endif %}
<!-- Script -->
<script src="/js/scriptCookies.js"></script>

{% endblock %}

