{% extends "base.html.twig" %}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <h1>Bienvenue a Esprit EduSmart</h1>
    <div class="buttons">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('login') }}" class="btn btn-danger">Connexion</a>
        <a href="{{ path('addStudent') }}" class="btn btn-outline-danger">Créer Compte Etudiant</a>
        {% else %}
        <form action="{{ path('logout') }}" method="post">
        <button type="submit" class="btn btn-danger">Déconnecter</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

