<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Validation</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="/css_yassine/validation.css">
      <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
   </head>
   <body>

   {% include '/nav.html.twig' %}

<div class="container d-flex justify-content-center align-items-center" style="margin-top : 100px;">
    <div class="row border rounded-5 bg-white shadow box-area">
        <div class="col-md-6 p-0 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #fff;">
            <div class="featured-image mb-3">
                <img src="/images/emailVerification.png" class="img-fluid" style="width: 600px;">
            </div>
        </div>
        <div class="col-md-6 p-0 right-box">
            <div class="row align-items-center">
                <div class="mainContainer">
        <div class="containerr">
            <header>Email & Mot de passe </header>
            <div class="progress-bar bar-container">
                <div class="step">
                <p>
                    Email
                </p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                <p>
                    Code
                </p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                <p>
                    Password
                </p>
                <div class="bullet">
                    <span>3</span>
                </div>
                <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="form-outer">
                <form action="#">
                <div class="page slide-page">
                    <div class="field">
                        <div class="label">
                            Adresse E-mail
                        </div>
                        <input type="email" id="emailInput" placeholder="xyz@esprit.tn"> 
                    </div>
                    <div class="field">
                        <button class="firstNext next">Envoyer Code</button>
                    </div>
                </div>
                <div class="page">
                    <div class="alert alert-warning p-1" role="alert" style="margin-top: 20px;margin-right : 20px;">
                        <span class="error-message" style="color: black;"><small>Vérifiez votre boite mail</small></span>
                    </div>
                    <div class="field" style="margin-bottom : 10px;">
                        <div class="label">
                            Code
                        </div>
                        <input type="number" placeholder="XXXXX" >
                    </div>
                    <div class="field btns">
                        <button class="prev-1 prev">Pr&eacute;c&eacute;dent</button>
                        <button class="next-1 next">V&eacute;rifier</button>
                    </div>
                </div>
                <div class="page">
                    <div class="field">
                        <div class="label">
                            Mot de passe
                        </div>
                        <input type="password">
                    </div>
                    <div class="field">
                        <div class="label">
                            Confirmer mot de passe
                        </div>
                        <input type="password">
                    </div>
                    <div class="field btns">
                        <button class="prev-2 prev">Pr&eacute;c&eacute;dent</button>
                        <button class="submit">Enregistrer</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
</div>

















    <script src="/js/validationScript.js"></script>
   </body>
</html>