{# templates/checkout/payment.html.twig #}

<form action="{{ path('checkout_payment') }}" method="post" id="payment-form">


    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

    <button id="submit">
        Pay now
    </button>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
    // Set up Stripe.js and Elements to use in checkout form
    var stripe = Stripe('{{ pk_test_51OoxMpDJtdMxFS8HiWjQlL3RBj0PJBqNHa9zuZPMtWrZgt7Baid3G3qm3vyzd6FV8dXSlpC9uhQyUbGuELQctQmB00ZQWHmbp4 }}'); // Remplacez stripe_public_key par votre clé publique Stripe
    var elements = stripe.elements();
    var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#aab7c4"
            }
        },
        invalid: {
            color: "#fa755a",
            iconColor: "#fa755a"
        }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Stripe token generated, you can submit the form here
                var token = result.token.id;
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token);
                form.appendChild(hiddenInput);
                // Submit the form
                form.submit();
            }
        });
    });
</script>
